extends ../common/common
block admin 
 .mws-panel.grid_8
  .mws-panel-header
    span 商家入驻
  .mws-panel-body.no-padding
    form.mws-form(action='/admin/shopdoadd' method='POST' enctype='multipart/form-data')
      .mws-form-inline
        .mws-form-row
          label.mws-form-label 店铺名
          .mws-form-item
            input.medium(type='text' name="uname")
        .mws-form-row
          label.mws-form-label 品牌Logo
          .mws-form-item
            input.medium(type='file' name="logo")
        .mws-form-row
          label.mws-form-label 宣传语
          .mws-form-item
            input.medium(type='text' name="content")
        .mws-form-row
          label.mws-form-label 配送费
          .mws-form-item
            input.medium(type='text' name="fee")
      .mws-button-row
        input.btn.btn-danger(type='submit' value='入驻')
        input.btn(type='reset' value='点击重置')


