extends ../common/common
block admin 
 .mws-panel.grid_8
  .mws-panel-header
    span 管理员添加
  .mws-panel-body.no-padding
    form.mws-form(action='/admin/userdoadd' method='POST')
      .mws-form-inline
        .mws-form-row
          label.mws-form-label 用户名
          .mws-form-item
            input.medium(type='text' name="uname")
        .mws-form-row
          label.mws-form-label 密码
          .mws-form-item
            input.medium(type='password' name="pwd")
      .mws-button-row
        input.btn.btn-danger(type='submit' value='点击提交')
        input.btn(type='reset' value='点击重置')


